/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define WIN 1
#define RPG 2
#define L1 3
#define L2 4
#define L1_WIN 5

#define KILL    LG(LS(Q))
#define SCR_PIC LC(PSCRN)
#define SCR_VID LS(LC(PSCRN))
#define STM_OVR LG(LS(LC(LA(PSCRN))))
#define SCR_PIC_WIN LS(LC(I))
#define SCR_VID_WIN LA(S)
#define MAP LA(M)

&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};

/ {
    macros {
        bt0: bt_0 {
            label = "BT_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to BASE &bt BT_SEL 0 &tog L2>;
        };
        bt3: bt_3_win {
            label = "BT_3_WIN";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to WIN &bt BT_SEL 3 &tog L2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            bindings = <
//    ┌─────┬───────┬──────┬───┬─────┬────┐
//    │ esc │   M   │  4   │ 5 │  H  │ T  │
//    ├─────┼───────┼──────┼───┼─────┼────┤
//    │  3  │  tab  │  Q   │ W │  E  │ R  │
//    ├─────┼───────┼──────┼───┼─────┼────┤
//    │  2  │ lshft │  A   │ S │  D  │ F  │
//    ├─────┼───────┼──────┼───┼─────┼────┤
//    │  1  │ lctrl │  Z   │ X │  V  │ B  │
//    └─────┴───────┼──────┼───┼─────┴────┘
//                  │ lalt │ K │
//                  └──────┴───┼─────┬────┐
//                             │ spc │ C  │
//                             ├─────┼────┤
//                             │  G  │ O  │
//                             ├─────┼────┤
//                             │ L1  │ L2 │
//                             └─────┴────┘
  &kp ESC   &kp M       &kp N4     &kp N5   &kp H       &kp T
  &kp N3    &kp TAB     &kp Q      &kp W    &kp E       &kp R
  &kp N2    &kp LSHFT   &kp A      &kp S    &kp D       &kp F
  &kp N1    &kp LCTRL   &kp Z      &kp X    &kp V       &kp B
                        &kp LALT   &kp K
                                            &kp SPACE   &kp C
                                            &kp G       &kp O
                                            &mo L1      &mo L2
            >;
        };
        WIN {
            bindings = <
//    ┌────┬────┬────┬────┬────────┬────┐
//    │    │    │    │    │        │    │
//    ├────┼────┼────┼────┼────────┼────┤
//    │    │    │    │    │        │    │
//    ├────┼────┼────┼────┼────────┼────┤
//    │    │    │    │    │        │    │
//    ├────┼────┼────┼────┼────────┼────┤
//    │    │    │    │    │        │    │
//    └────┴────┼────┼────┼────────┴────┘
//              │    │    │
//              └────┴────┼────────┬────┐
//                        │        │    │
//                        ├────────┼────┤
//                        │        │    │
//                        ├────────┼────┤
//                        │ L1_WIN │    │
//                        └────────┴────┘
  &trans   &trans   &trans   &trans   &trans       &trans
  &trans   &trans   &trans   &trans   &trans       &trans
  &trans   &trans   &trans   &trans   &trans       &trans
  &trans   &trans   &trans   &trans   &trans       &trans
                    &trans   &trans
                                      &trans       &trans
                                      &trans       &trans
                                      &mo L1_WIN   &trans
            >;
        };
        RPG {
            bindings = <
//    ┌────┬────┬─────┬─────┬─────┬──────┐
//    │ f4 │    │  1  │  2  │  3  │  4   │
//    ├────┼────┼─────┼─────┼─────┼──────┤
//    │ f3 │    │  5  │  6  │  7  │  8   │
//    ├────┼────┼─────┼─────┼─────┼──────┤
//    │ f2 │    │  9  │  0  │  -  │  =   │
//    ├────┼────┼─────┼─────┼─────┼──────┤
//    │ f1 │    │  Q  │  E  │     │  B   │
//    └────┴────┼─────┼─────┼─────┴──────┘
//              │ esc │ MAP │
//              └─────┴─────┼─────┬──────┐
//                          │ spc │  Y   │
//                          ├─────┼──────┤
//                          │  F  │ lalt │
//                          ├─────┼──────┤
//                          │     │      │
//                          └─────┴──────┘
  &kp F4   &trans   &kp N1    &kp N2    &kp N3      &kp N4
  &kp F3   &trans   &kp N5    &kp N6    &kp N7      &kp N8
  &kp F2   &trans   &kp N9    &kp N0    &kp MINUS   &kp EQUAL
  &kp F1   &trans   &kp Q     &kp E     &trans      &kp B
                    &kp ESC   &kp MAP
                                        &kp SPACE   &kp Y
                                        &kp F       &kp LALT
                                        &trans      &trans
            >;
        };
        L1 {
            bindings = <
//    ┌─────────┬──────┬────┬────┬────┬─────────┐
//    │    `    │      │    │    │    │ to BASE │
//    ├─────────┼──────┼────┼────┼────┼─────────┤
//    │ SCR_PIC │ ent  │ 7  │ 8  │ 9  │ to WIN  │
//    ├─────────┼──────┼────┼────┼────┼─────────┤
//    │ SCR_VID │  up  │ 4  │ 5  │ 6  │ to RPG  │
//    ├─────────┼──────┼────┼────┼────┼─────────┤
//    │ STM_OVR │ down │ 1  │ 2  │ 3  │         │
//    └─────────┴──────┼────┼────┼────┴─────────┘
//                     │ 0  │    │
//                     └────┴────┼────┬─────────┐
//                               │    │         │
//                               ├────┼─────────┤
//                               │    │         │
//                               ├────┼─────────┤
//                               │    │         │
//                               └────┴─────────┘
  &kp GRAVE     &trans      &trans   &trans   &trans   &to BASE
  &kp SCR_PIC   &kp ENTER   &kp N7   &kp N8   &kp N9   &to WIN
  &kp SCR_VID   &kp UP      &kp N4   &kp N5   &kp N6   &to RPG
  &kp STM_OVR   &kp DOWN    &kp N1   &kp N2   &kp N3   &trans
                            &kp N0   &trans
                                              &trans   &trans
                                              &trans   &trans
                                              &trans   &trans
            >;
        };
        L2 {
            bindings = <
//    ┌────┬────┬──────┬───────┬───────┬──────┐
//    │ f1 │ f2 │  f9  │  f10  │  f11  │ f12  │
//    ├────┼────┼──────┼───────┼───────┼──────┤
//    │ f3 │ f4 │ &bt0 │ bt> 1 │ bt> 2 │      │
//    ├────┼────┼──────┼───────┼───────┼──────┤
//    │ f5 │ f6 │ &bt3 │ bt> 4 │  clr  │      │
//    ├────┼────┼──────┼───────┼───────┼──────┤
//    │ f7 │ f8 │      │       │ rsftT │ BOOT │
//    └────┴────┼──────┼───────┼───────┴──────┘
//              │      │       │
//              └──────┴───────┼───────┬──────┐
//                             │       │      │
//                             ├───────┼──────┤
//                             │       │      │
//                             ├───────┼──────┤
//                             │       │      │
//                             └───────┴──────┘
  &kp F1   &kp F2   &kp F9   &kp F10        &kp F11        &kp F12
  &kp F3   &kp F4   &bt0     &bt BT_SEL 1   &bt BT_SEL 2   &trans
  &kp F5   &kp F6   &bt3     &bt BT_SEL 4   &bt BT_CLR     &trans
  &kp F7   &kp F8   &trans   &trans         &sys_reset     &bootloader
                    &trans   &trans
                                            &trans         &trans
                                            &trans         &trans
                                            &trans         &trans
            >;
        };
        L1_WIN {
            bindings = <
//    ┌─────────────┬────┬────┬────┬────┬─────────┐
//    │      `      │ 1  │ 2  │ 3  │ 4  │ to BASE │
//    ├─────────────┼────┼────┼────┼────┼─────────┤
//    │ SCR_PIC_WIN │    │    │    │    │ to WIN  │
//    ├─────────────┼────┼────┼────┼────┼─────────┤
//    │ SCR_VID_WIN │    │    │    │    │ to RPG  │
//    ├─────────────┼────┼────┼────┼────┼─────────┤
//    │   STM_OVR   │ 6  │ 7  │ 8  │ 9  │    0    │
//    └─────────────┴────┼────┼────┼────┴─────────┘
//                       │    │    │
//                       └────┴────┼────┬─────────┐
//                                 │    │         │
//                                 ├────┼─────────┤
//                                 │    │         │
//                                 ├────┼─────────┤
//                                 │    │         │
//                                 └────┴─────────┘
  &kp GRAVE         &kp N1   &kp N2   &kp N3   &kp N4   &to BASE
  &kp SCR_PIC_WIN   &trans   &trans   &trans   &trans   &to WIN
  &kp SCR_VID_WIN   &trans   &trans   &trans   &trans   &to RPG
  &kp STM_OVR       &kp N6   &kp N7   &kp N8   &kp N9   &kp N0
                             &trans   &trans
                                               &trans   &trans
                                               &trans   &trans
                                               &trans   &trans
            >;
        };
    };
};
